<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>


<div class="container-fluid text-center">
    <div class="jumbotron">
      <h1 class="display-4">Mission to Mars</h1>
      <p>If you want to learn something interesting about Planet Mars, Scrape On!</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a>
      </p>
    </div>
    {% if post %}
    <div class="row">
      <div class="col-md-12">
        <h2>
          Latest Mars News
        </h2>
        <p class='text-justify'>
          <strong>{{ post.latest_mars_news[0] }}</strong>: {{ post.latest_mars_news[1] }}
        </p>

      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-6">
        <h3>
          Featured Mars Image
        </h3>
        <p class='text-justify'>
          {{ post.featured_mars_image_desc }}
        </p>
        <img alt="feature image" class ="img-thumbnail" src={{ post.featured_mars_image }}>
      </div>
      <div class="col-md-6">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Description
              </th>
              <th>
                Data
              </th>
            </tr>
          </thead>
          <tbody>
            {% for n in range(post.mars_facts_table.data | length ) %}
            <tr>
              <td>
                {{ post.mars_facts_table.description[n] }}
              </td>
              <td>
                {{ post.mars_facts_table.data[n] }}
              </td>
            </tr>
            <tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center">
          Mars Hemispheres
        </h3>
        <div class="row">
          <div class="col-xl-6" style="padding:10">
            <img alt="{{ post.hemisphere_image_urls[0].title }}" class="img-fluid" src="{{ post.hemisphere_image_urls[0].img_url }}">
            <h4>
              {{ post.hemisphere_image_urls[0].title }}
            </h4>
          </div>
          <div class="col-xl-6" style="padding:10">
            <img alt="{{ post.hemisphere_image_urls[1].title }}" class="img-fluid" src="{{ post.hemisphere_image_urls[1].img_url }}">
            <h4>
              {{ post.hemisphere_image_urls[1].title }}
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6"  style="padding:10">
            <img alt="{{ post.hemisphere_image_urls[2].title }}" class="img-fluid" src="{{ post.hemisphere_image_urls[2].img_url }}">
            <h4>
              {{ post.hemisphere_image_urls[2].title }}
            </h4>
          </div>
          <div class="col-xl-6"  style="padding:10">
            <img alt="{{ post.hemisphere_image_urls[3].title }} "class="img-fluid" src="{{ post.hemisphere_image_urls[3].img_url }}">
            <h4>
              {{ post.hemisphere_image_urls[3].title }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    {% else %}

    {% endif %}

  </div>
    
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>

</html>
